extends ../../layout

block content
    .row
        .col
            a(href="/projects/view/" + project.Id).btn.text-primary
                i.fas.fa-chevron-circle-left
                span.ms-1 Back to Project
            h1 Assign User to #{project.Name}
    .row
        .col
            table#assign-user-table
                thead
                    tr
                        th Username
                        th Email
                        th Actions
                tbody
                    each row in users
                        tr
                            td= row.Username
                            td= row.Email
                            td
                                a(href="/projects/assign/assign/" + project.Id + "/" + row.Id)
                                    i.fas.fa-eye
                                    span.ms-1 Assign

block scripts
    script(src="/js/project-assign-assign.js")