extends ../../layout

block content
    .row
        .col
            a(href="/projects/view/" + project.Id).btn.text-primary
                i.fas.fa-chevron-circle-left
                span.ms-1 Back to Project
            h1 Update User Role for #{project.Name}
    .row
        .col
            table#update-user-table
                thead
                    tr
                        th Username
                        th Role
                        th Actions
                    tbody
                        each row in projectUsers
                            tr
                                td= row.Username
                                td= row.Role
                                td
                                    a(href="/projects/assign/toggleAdmin/" + project.Id + "/" row.User.Id)
                                        i.fas.fa-eye
                                        span.ms-1 Toggle Admin

block scripts
    script(src="/js/project-assign-update.js")
