extends ../layout

block content
    .row
        .col
            h1 Tasks
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
    ul.nav.nav-tabs.mb-3
        li.nav-item
            a.nav-link(href="/tasks/list") All
        li.nav-item
            a.nav-link.active(href="/tasks/assigned") Assigned
    table#task-list-table
        thead
            tr
                th ID
                th Name
                th Assigned To
                th Created At
                th Actions
        tbody
            each row in tasks
                tr
                    td= row.taskNumber
                    td= row.name
                    td= row.AssignedToName
                    td= row.createdAt
                    td

block scripts
    script(src='/js/task-list.js')
