extends ../layout

block content
    .row
        .col
            h1 Projects
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#new-project-modal').btn.text-primary
                    i.fas.fa-plus-square
                    span.ms-1 New
    table.clickable#project-list-table
        thead
            tr
                th Name
                th Created By
                th Created At
                th Actions
        tbody
            each row in projects
                tr
                    td= row.name
                    td= row.createdByName
                    td= row.createdAt
                    td
                        a(href="/projects/view/" + row.projectId).btn.text-primary
                            i.fas.fa-eye
                            span.ms-1 View
    form(method='POST' action='/projects/new').modal.fade#new-project-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title New Project
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Project Name
                        input(type='text' name='name').form-control
                    .form-group.mb-3
                        label Description
                        input(type='text' name='description').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create

block scripts
    script(src='/js/project-list.js')