extends ../layout

block content
    .row
        .col
            a(href="/projects/list").btn.text-primary
                i.fas.fa-chevron-circle-left
                span.ms-1 Back to Listing
            h1= project.name
            if !project.archived
                .badge.rounded-pill.bg-warning.mb-3.me-1
                    i.fas.fa-archive
                    span.ms-1 Archived
    .row
        .col-3
            .card
                .card-header Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p= project.description
                    .mb-2
                        p.mb-0.text-secondary Created By
                        p= project.createdByName
                    .mb-2
                        p.mb-0.text-secondary Created At
                        p= project.createdAt