extends ../layout

block content
    .row
        .col
            h1 PROJECT NAME
            span.badge.rounded-pill.bg-primary Archived
    .row
        .col
            .card
                .card-header Details
                .card-body
                    .border-bottom
                        label Description
                        span DESCRIPTION
                    .border-bottom
                        label Created By
                        span NAME
                    .border-bottom
                        label Created At
                        span DATETIME